@use 'sass:map';
// TODO migrate all import to @use
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.collapse-body {
    padding: map.get($spacers, 2);
}

app-attendance:not(:last-child) {
    margin-bottom: map.get($spacers, 2);
}

// ### Datepicker stuff
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}
