<h4 class="text-center">Veranstaltung {{event.id ? 'bearbeiten' : 'anlegen'}}</h4>

<div ngbAccordion [closeOthers]="true" class="mb-2">
    <div ngbAccordionItem [collapsed]="false">
        <div ngbAccordionHeader>
            <button ngbAccordionButton>Veranstaltungsdaten</button>
        </div>
        <div class="collapse-body" ngbAccordionCollapse>
            <div class="form-floating mb-2">
                <input [(ngModel)]="event.name" type="text" class="form-control" id="event-name" />
                <label for="event-name">Name</label>
            </div>
            <div class="form-floating mb-2">
                <select [(ngModel)]="event.category" class="form-select" aria-label="event category" id="event-category">
                    <option *ngFor="let c of availableCategories" [ngValue]="c" [selected]="c === event.category">{{getEventCategoryLocalization(c)}}</option>
                </select>
                <label for="event-category">Kategorie</label>
            </div>
            <div>
                <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate" />
                <ng-template #t let-date let-focused="focused">
                    <span
                        class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                    >
                        {{ date.day }}
                    </span>
                </ng-template>
            </div>
        </div>
    </div>

    <div ngbAccordionItem>
        <div ngbAccordionHeader>
            <button ngbAccordionButton>Location</button>
        </div>
        <div class="collapse-body" ngbAccordionCollapse>
            <app-edit-location [location]="event.location" (locationChangedEvent)="locationChanged($event)" [showValidation]="errorState" />
        </div>
    </div>

    <div ngbAccordionItem>
        <div ngbAccordionHeader (click)="updateAttendances()">
            <button ngbAccordionButton>Bands</button>
        </div>
        <div class="collapse-body" ngbAccordionCollapse>
            <app-attendance class="d-block" *ngFor="let a of event.attendances" [attendance]="a"/>
        </div>
    </div>
</div>

<div class="btn-group d-block">
    <button (click)="cancel()" type="button" class="w-50 btn btn-outline-primary">Abbrechen</button>
    <button (click)="submit()" type="button" class="w-50 btn btn-primary">Speichern</button>
</div>
