<div class="d-flex flex-row">
    <app-date class="d-inline-block me-2" [date]="attendance.date" format="dd.mm."/>
    <p class="flex-grow-1 hr-border"></p>
</div>

<div class="mb-2">
    <div *ngFor="let b of attendance.bands" class="d-inline-block my-1 me-1">
        <span class="p-1 border border-secondary-subtle border-1 rounded-start text-secondary">{{b.name}}</span>
        <span class="p-1 border border-secondary-subtle border-1 rounded-end border-start-0" role="button" (click)="removeBand(b)">X</span>
    </div>
</div>

<div class="input-group">
    <input
        type="text"
        class="form-control"
        placeholder="Bandname"
        [(ngModel)]="inputValue"
        [ngbTypeahead]="search"
        (selectItem)="bandSelected($event)"
        [resultFormatter]="formatter"
        autocomplete="none"
        (keyup.enter)="addNewBand()"
    />
    <button (click)="addNewBand()" type="button" class="btn btn-primary">+</button>
</div>