<h4 class="text-center mb-2">Oleg's Special List</h4>

<div class="mb-2">
    <div class="fw-medium text-decoration-underline">voll krass Einfärbung</div>
    <div>
        <!-- TODO click on the labels to filter -->
        <div class="labels-element class1">1 - 4</div>
        <div class="labels-element class2">5 - 9</div>
        <div class="labels-element class3">10 - 19</div>
        <div class="labels-element class4">20+</div>
    </div>
</div>

<div>
    <table class="table">
        <tbody>
            <tr *ngFor="let line of data; index as i">
                <td class="border-end w-auto first-col"></td>
                <td class="w-auto first-col font-monospace align-bottom">{{i+1}}.</td>
                <!-- TODO <td><app-band [band]="b" /></td> -->
                <td class="w-100">
                    <span [ngClass]="{'class2': line.count >= 5 && line.count <= 9, 'class3': line.count >= 10 && line.count <= 19, 'class4': line.count >= 20}">{{line.band.name}} {{line.count}}x</span>
                </td>
            </tr>
            <!-- dummy last line for the looks -->
            <tr class="opacity-0">
                <td class="border-end"></td>
                <td>.</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
