tr {
    border-bottom-color: lightblue;
}

.first-col {
    min-width: 2rem;
}

td {
    padding-top: 0;
    padding-bottom: 0;
}

.labels-element {
    display: inline-block;
    margin: .2rem;
    padding: .2rem 1.4em;
    border-radius: var(--bs-border-radius);
    color: #000;
}

.labels-element.class1 {
    color: var(--bs-body-color);
}

.class1 {
    border: .1rem solid;
}

.class2 {
    background-color: yellow;
    color: #000;
}

.class3 {
    background-color: skyblue;
    color: #000;
}

.class4 {
    background-color: lightsalmon;
    color: #000;
}

.font-monospace {
    font-size: .85rem;
}
