<div class="d-flex flex-column h-100">
  <h4 class="text-center"><span class="text-danger">~~~</span> Metrics <span class="text-danger">~~~</span></h4>

  <div ngbAccordion [closeOthers]="true" class="flex-grow-1 mb-2">

    <div ngbAccordionItem>
      <div ngbAccordionHeader class="border border-warning border-bottom-0">
        <button ngbAccordionButton>Controls</button>
      </div>
      <div class="collapse-body p-2 border-start border-end border-warning" ngbAccordionCollapse>
        <button type="button" class="btn btn-warning" [disabled]="updateMetricsButtonDisabled" (click)="updateMetricHistory()">Update Metrics History</button>
      </div>
    </div>

    <div ngbAccordionItem>
      <div ngbAccordionHeader class="border border-warning border-top-0 border-bottom-0">
        <button ngbAccordionButton (click)="loadOverallEvents()">Overall Events</button>
      </div>
      <div class="collapse-body p-2 border-start border-end border-warning" ngbAccordionCollapse>
        <canvas baseChart [type]="'line'" [data]="overallEventsData" [legend]="true"></canvas>
      </div>
    </div>

    <div ngbAccordionItem>
      <div ngbAccordionHeader class="border border-warning border-top-0 border-bottom-0">
        <button ngbAccordionButton (click)="loadOverallTotalShows()">Overall Total Shows</button>
      </div>
      <div class="collapse-body p-2 border border-top-0 border-warning" ngbAccordionCollapse>
        <canvas baseChart [type]="'line'" [data]="overallTotalShowsData" [legend]="true"></canvas>
      </div>
    </div>

    <div ngbAccordionItem>
      <div ngbAccordionHeader>
        <button ngbAccordionButton (click)="loadCurrentData()">Passed Events</button>
      </div>
      <div class="collapse-body p-2" ngbAccordionCollapse>
        <canvas baseChart [type]="'bar'" [data]="passedEventCountData" [legend]="false"></canvas>
      </div>
    </div>

    <div ngbAccordionItem>
      <div ngbAccordionHeader>
        <button ngbAccordionButton (click)="loadCurrentData()">Passed Distinct Bands</button>
      </div>
      <div class="collapse-body p-2" ngbAccordionCollapse>
        <canvas baseChart [type]="'bar'" [data]="passedDistinctBandCountData" [legend]="false"></canvas>
      </div>
    </div>

    <div ngbAccordionItem>
      <div ngbAccordionHeader>
        <button ngbAccordionButton (click)="loadCurrentData()">Passed Total Shows</button>
      </div>
      <div class="collapse-body p-2" ngbAccordionCollapse>
        <canvas baseChart [type]="'bar'" [data]="passedTotalShowsCountData" [legend]="false"></canvas>
      </div>
    </div>

    <div ngbAccordionItem>
      <div ngbAccordionHeader>
        <button ngbAccordionButton (click)="loadCurrentData()">Passed Events By Category</button>
      </div>
      <div class="collapse-body p-2" ngbAccordionCollapse>
        <canvas baseChart [type]="'bar'" [data]="passedEventsByCategoryCountData" [legend]="true"></canvas>
      </div>
    </div>

  </div>
</div>