<!-- component WITH link to location details -->
<div *ngIf="link" class="mb-2" [ngClass]="{'p-2 border border-secondary-subtle rounded': border}">
    <a routerLink="/locations/{{location.id}}">
        <span *ngIf="location.name">{{location.name}} - </span>
        <span>{{location.city}} ({{location.country}})</span>
    </a>
</div>

<!-- component WITHOUT link to location details -->
<div *ngIf="!link" class="mb-2" [ngClass]="{'p-2 border border-secondary-subtle rounded': border}">
    <span *ngIf="location.name">{{location.name}} - </span>
    <span>{{location.city}} ({{location.country}})</span>
</div>