<h4 class="text-center">Passwort ändern</h4>

<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <div class="form-floating mb-2">
        <input type="password" class="form-control" [class]="getInputStatusClass('oldPassword')" autocomplete="none"  formControlName="oldPassword" />
        <label for="oldPassword">aktuelles Passwort*</label>
    </div>
    <div class="form-floating mb-2">
        <input type="password" class="form-control" [class]="getInputStatusClass('newPassword1')" autocomplete="none" formControlName="newPassword1" />
        <label for="newPassword1">neues Passwort*</label>
    </div>
    <div class="form-floating mb-2">
        <input type="password" class="form-control" [class]="getInputStatusClass('newPassword2')" autocomplete="none" formControlName="newPassword2" />
        <label for="newPassword2">neues Passwort wiederholen*</label>
    </div>
    <div *ngIf="error" class="form-text text-danger mb-2">{{error}}</div>
    <button type="submit" class="w-100 btn btn-primary" [disabled]="!changePasswordForm.valid">Ändern</button>
</form>