@use 'sass:math';

$total-duration: 0.6;
$number-animations: 5;

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: $total-duration + s;
  -moz-animation-duration: $total-duration + s;
  animation-duration: $total-duration + s;
}

.fadeIn.first {
  -webkit-animation-delay: math.div($total-duration, $number-animations) + s;
  -moz-animation-delay: math.div($total-duration, $number-animations) + s;
  animation-delay: math.div($total-duration, $number-animations) + s;
}

.fadeIn.second {
  -webkit-animation-delay: math.div($total-duration, $number-animations)*2 + s;
  -moz-animation-delay: math.div($total-duration, $number-animations)*2 + s;
  animation-delay: math.div($total-duration, $number-animations)*2 + s;
}

.fadeIn.third {
  -webkit-animation-delay: math.div($total-duration, $number-animations)*3 + s;
  -moz-animation-delay: math.div($total-duration, $number-animations)*3 + s;
  animation-delay: math.div($total-duration, $number-animations)*3 + s;
}

.fadeIn.fourth {
  -webkit-animation-delay: math.div($total-duration, $number-animations)*4 + s;
  -moz-animation-delay: math.div($total-duration, $number-animations)*4 + s;
  animation-delay: math.div($total-duration, $number-animations)*4 + s;
}

.fadeIn.fifth {
  -webkit-animation-delay: math.div($total-duration, $number-animations)*5 + s;
  -moz-animation-delay: math.div($total-duration, $number-animations)*5 + s;
  animation-delay: math.div($total-duration, $number-animations)*5 + s;
}