<div class="menu-wrapper mx-auto" style="max-width: 300px;">
    <a class="btn btn-primary w-100 fadeIn first mb-2" routerLink="/">Übersicht</a>
    <a class="btn btn-primary w-100 fadeIn first mb-2" routerLink="/add">Veranstaltung hinzufügen</a>
    <div class="hr-border mb-2 fadeIn second"></div>
    <a class="btn btn-primary w-100 fadeIn second mb-2" routerLink="/search">Suche</a>
    <a class="btn btn-primary w-100 fadeIn second mb-2" routerLink="/charts">Statistiken</a>
    <a class="btn btn-primary w-100 fadeIn second mb-2" routerLink="/olegs-special-list">Oleg's Special List</a>
    <div class="hr-border mb-2 fadeIn third"></div>
    <button class="btn btn-primary w-100 fadeIn third mb-2" (click)="switchColorMode()" type="button">Licht {{isDark() ? 'an' : 'aus'}}</button>
    <a *ngIf="isAdmin()" class="btn btn-danger w-100 fadeIn third mb-2" routerLink="/admin">~ ADMIN ~</a>
    <div class="hr-border mb-2 fadeIn fourth"></div>
    <a class="btn btn-primary w-100 fadeIn fourth mb-2" routerLink="/change-password">Passwort ändern</a>
    <button class="btn btn-primary w-100 fadeIn fifth" (click)="logout()" type="button">Log Out<span class="fst-italic" *ngIf="username"> {{username}}</span>
    </button>
</div>