@use 'sass:map';
@import 'bootstrap/scss/bootstrap';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

a {
    // color: initial;
    text-decoration: none;
}

.hr-border {
    margin: auto;
    border: .5px solid map.get($theme-colors, 'secondary');
}
