<div class="h-100 d-flex flex-column">
    <div class="mb-2">
        <select [(ngModel)]="selectedYear" (change)="loadEvents()" class="form-select" aria-label="year selection">
            <option *ngFor="let year of availableYears" [ngValue]="year" [selected]="year === selectedYear">{{year}}</option>
        </select>
    </div>
    
    <div class="flex-grow-1">
        <app-event *ngFor="let event of events" [event]="event" dateFormat="dd.mm." />
    </div>
</div>