.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #333, $alpha: 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrapper {
    width: 9em;
    height: 9em;
    background-color: rgba($color: #111, $alpha: 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.loader {
    width: 5em;
    height: 5em;
    border-width: .2em;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    border-radius: 100%;
    border-style: solid;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}