<app-login-form *ngIf="!isLoggedIn()"></app-login-form>
<app-layout *ngIf="isLoggedIn()"></app-layout>
<div *ngIf="loading" class="loader-overlay">
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
</div>