<div class="d-flex flex-column h-100">
    <h4 class="text-center">
        <span class="text-danger">~~~ </span>
        <span class="fst-italic">{{user.name}}</span>
        <span> bearbeiten </span>
        <span class="text-danger">~~~</span>
    </h4>

    <div class="flex-grow-1">
        <form [formGroup]="editUserForm" (ngSubmit)="saveUser()">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" [ngClass]="{'is-invalid': !editUserForm.get('name')?.valid}"
                    autocomplete="none" formControlName="name" />
                <label for="name">Benutzername</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" [ngClass]="{'is-valid': editUserForm.get('roles')?.dirty}"
                    autocomplete="none" formControlName="roles" />
                <label for="role">Roles (z.B. "ROLE,ROLE,ROLE")</label>
            </div>
            <button type="submit" class="w-100 btn btn-primary"
                [disabled]="!editUserForm.valid || !editUserForm.dirty">Speichern</button>
        </form>

        <div class="hr-border w-100 mt-4 mb-2"></div>

        <form [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" [ngClass]="{'is-valid': newPasswordForm.get('password')?.valid}"
                    autocomplete="none" formControlName="password" />
                <label for="new-password">Neues Passwort</label>
            </div>
            <button type="submit" class="w-100 btn btn-primary"
                [disabled]="!newPasswordForm.valid || !newPasswordForm.dirty">Passwort ändern</button>
        </form>
    </div>
</div>