<div class="d-flex flex-column h-100">
    <h4 class="text-center"><span class="text-danger">~~~</span> Sessions <span class="text-danger">~~~</span></h4>
    
    <div class="flex-grow-1">
        <div class="d-flex flex-row">
            <div class="d-inline-block fw-medium me-2">General</div>
            <p class="flex-grow-1 hr-border"></p>
        </div>
        <div class="d-flex mb-2">
            <div class="flex-grow-1 me-2">
                <div>Count: <span class="fst-italic">{{generalData.totalSessionsCount}}</span></div>
                <div>Time-To-Live: <span class="fst-italic">{{generalData.ttl}}</span></div>
            </div>
            <div>
                <button class="btn btn-outline-primary btn-sm" (click)="cleanSessions()">Clean Sessions</button>
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="d-inline-block fw-medium me-2">Aktive Benutzer</div>
            <p class="flex-grow-1 hr-border"></p>
        </div>
        <div *ngFor="let u of usersWithSessions" class="mb-2">
            <div class="d-flex">
                <div class="flex-grow-1 d-flex flex-row p-2 border border-success session-head text-center">
                    <span class="fw-medium flex-grow-1 text-start">{{u.name}}</span>
                    <span class="me-1">Sessions: </span><span class="fst-italic">{{u.sessions.length}}</span>
                </div>
                <button class="btn border border-danger session-button-x text-danger" (click)="killSessions(u)">X</button>
            </div>
            <div class="d-block p-2 border border-success rounded-bottom overflow-hidden">
                <div *ngFor="let s of u.sessions" class="mb-2">
                    <div class="fw-bold">{{formatUnixTimestamp(s.created)}}</div>
                    <div class="fst-italic">{{s.userAgent}}</div>
                    <div class="hr-border"></div>
                </div>
            </div>
        </div>
    </div>
</div>
