.session-head {
    // TODO
    border-bottom: 0 !important;
    border-top-left-radius: var(--bs-border-radius);
}

.session-button-x {
    border-radius: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}
