<div class="mb-2">
    <a routerLink="/events/{{event.id}}">
        <div class="p-2 border border-secondary-subtle rounded">
            <app-date class="d-inline-block" [ngClass]="dateFormat === 'dd.mm.' ? 'smallDate' : 'largeDate'" [date]="event.start" [format]="dateFormat" />
            <span *ngIf="event.name">{{event.name}}</span>
            <span *ngIf="!event.name">{{event.location}} {{event.city}}</span>
        </div>
    </a>
</div>