<form [formGroup]="locationForm">
    <div class="form-floating mb-2">
        <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngbTypeahead]="search"
            (selectItem)="locationSelected($event)"
            [resultFormatter]="formatter"
            (ngModelChange)="detailsChanged()"
            autocomplete="none"
        />
        <label for="event-name">Name</label>
    </div>

    <div class="form-floating mb-2">
        <input formControlName="city" type="text" class="form-control" (ngModelChange)="detailsChanged()" autocomplete="none" [class]="getInputStatusClass('city')" />
        <label for="event-name">Ort/Stadt*</label>
    </div>

    <div class="form-floating">
        <input formControlName="country" type="text" class="form-control" (ngModelChange)="detailsChanged()" autocomplete="none" [class]="getInputStatusClass('country')" />
        <label for="event-name">Land*</label>
    </div>
</form>
