<form [formGroup]="searchForm" (ngSubmit)="submit()" class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Band, Location, Veranstaltung..." formControlName="query"
        autocomplete="none" />
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>

<div *ngIf="result.events.length > 0">
    <div class="d-flex flex-row mb-2">
        <div class="d-inline-block fw-medium me-2">Veranstaltungen</div>
        <p class="flex-grow-1 hr-border"></p>
    </div>
    <app-event *ngFor="let e of result.events" [event]="e" />
</div>

<div *ngIf="result.locations.length > 0">
    <div class="d-flex flex-row mb-2">
        <div class="d-inline-block fw-medium me-2">Locations</div>
        <p class="flex-grow-1 hr-border"></p>
    </div>
    <app-location *ngFor="let l of result.locations" [location]="l" [border]="true" />
</div>

<div *ngIf="result.bands.length > 0">
    <div class="d-flex flex-row mb-2">
        <div class="d-inline-block fw-medium me-2">Bands</div>
        <p class="flex-grow-1 hr-border"></p>
    </div>
    <app-band *ngFor="let b of result.bands" [band]="b" />
</div>