<div *ngIf="!editMode" class="h-100 d-flex flex-column">
    <h4 class="text-center">{{event.name}}</h4>
    <div *ngIf="event.category" class="text-center">Kategorie: {{getEventCategory()}}</div>
    <div class="text-center fst-italic">
        <app-date *ngIf="event.start !== event.end" [date]="event.start" format="dd.mm." />
        <span *ngIf="event.start !== event.end"> - </span>
        <app-date [date]="event.end" />
    </div>
    <app-location [location]="event.location" class="text-center" />

    <div class="flex-grow-1">
        <div class="mb-2" *ngFor="let a of event.attendances">
            <div class="d-flex flex-row mb-2">
                <app-date class="d-inline-block me-2" [date]="a.date" format="dd.mm." />
                <p class="flex-grow-1 hr-border"></p>
            </div>
            <app-band *ngFor="let b of a.bands" [band]="b" />
        </div>
    </div>

    <div class="footer">
        <button type="button" class="btn btn-primary w-100" size="small" (click)="setEdit(true)">Edit</button>
    </div>
</div>

<div *ngIf="editMode">
    <app-edit-event [event]="event" (cancelEvent)="setEdit(false)" />
</div>
