<div class="d-flex flex-column h-100">
    <h4 class="text-center"><span class="text-danger">~~~</span> Benutzerverwaltung <span class="text-danger">~~~</span></h4>
    <div class="flex-grow-1">
        <div class="d-flex flex-wrap">
            <div *ngFor="let u of users" class="btn-group mb-2 me-2">
                <a class="btn btn-outline-secondary text-primary"
                    routerLink="/admin/users/{{u.id}}">{{u.name}}</a>
                <button class="btn btn-outline-danger fw-bold" (click)="deleteUser(u)">X</button>
            </div>
        </div>

        <div class="hr-border mt-4 mb-2"></div>

        <h4 class="text-center"><span class="text-danger">~~~</span> Benutzer hinzufügen <span class="text-danger">~~~</span></h4>
        <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" [class]="getInputStatusClass('name')" autocomplete="none" formControlName="name" />
                <label for="name">Benutzername</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" [class]="getInputStatusClass('password')" autocomplete="none" formControlName="password" />
                <label for="password">Passwort</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" [class]="getInputStatusClass('roles')" autocomplete="none" formControlName="roles" />
                <label for="role">Roles (z.B. "ROLE,ROLE,ROLE")</label>
            </div>
            <button type="submit" class="w-100 btn btn-primary" [disabled]="!addUserForm.valid">Hinzufügen</button>
        </form>
    </div>
</div>