<div class="d-flex flex-column h-100">
    <h3 class="text-center">{{details.band.name}}</h3>
    <div class="flex-grow-1">
        <div class="mb-2 d-flex flex-row" *ngFor="let event of details.events">
            <app-event class="flex-grow-1 me-2" [event]="event" />
            <a [href]="getSetlistUrl(event)" target="_blank" class="btn btn-outline-primary mb-2 d-table">
                <span class="me-2 d-none d-md-inline">Setlist</span>
                <span class="d-table-cell align-middle">📋</span>
            </a>
        </div>
    </div>
</div>