<div class="d-flex flex-column h-100">
    <h4 class="text-center"><app-location [location]="data.location" [link]="false" /></h4>

    <div class="flex-grow-1">
        <div *ngIf="data.events.length > 0">
            <div class="d-flex flex-row mb-2">
                <div class="d-inline-block fw-medium me-2">Veranstaltungen ({{data.events.length}})</div>
                <p class="flex-grow-1 hr-border"></p>
            </div>
            <app-event *ngFor="let e of data.events" [event]="e" />
        </div>

        <div *ngIf="data.bands.length > 0">
            <div class="d-flex flex-row mb-2">
                <div class="d-inline-block fw-medium me-2">Bands ({{data.bands.length}})</div>
                <p class="flex-grow-1 hr-border"></p>
            </div>
            <app-band *ngFor="let b of data.bands" [band]="b" />
        </div>
    </div>
</div>