<div class="modal-header text-center">
    <h4 class="modal-title w-100" id="modal-basic-title">Bestätigung</h4>
</div>
<div class="modal-body text-center">
    <p>{{message}}</p>
</div>
<div class="modal-footer btn-group">
    <button type="button" class="w-25 btn btn-outline-primary me-0" (click)="activeModal.dismiss()">Abbrechen</button>
    <button type="button" class="w-25 btn btn-outline-danger" (click)="activeModal.close()">OK</button>
</div>