@use 'sass:map';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.site {
    height: 100vh;
    height: 100dvh;
}

header, footer {
    padding: map.get($spacers, 2);
    background-color: #373737;
    color: #e9e9e9;
    a {
        color: #e9e9e9;
    }
}

.footer-rounded-corners {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    padding-bottom: 0;
    a {
        text-decoration: none;
        // color: var(--bs-body-color);
    }
    h1 {
        font-size: large;
        line-height: 32px;
    }
    img {
        width: 32px;
    }
}

@include media-breakpoint-up(md) {
    :host {
        display: flex;
        height: 100vh;
        height: 100dvh;
        align-items: center;
    }

    .site.container-md {
        max-width: map.get($grid-breakpoints, md);
        
        height: 96vh;
        max-height: 768px;

        border-radius: map.get($spacers, 2);
        overflow: hidden;
        border: 1px solid map.get($theme-colors, 'secondary');

        box-shadow: 0 0 1rem map.get($theme-colors, 'primary');
    }
}

@include media-breakpoint-up(xl) {
    :host {
        background-image: 
            url('https://d1tgpwdaxi3b4p.cloudfront.net/pivoleg.jpg'), 
            url('https://iili.io/dDqq72V.webp');
        background-size: cover;
    }

    .site {
        background-color: var(--bs-body-bg);
        box-shadow: 0 0 1rem lightgrey !important;
    }
}
