<div class="site p-0 container-md d-flex flex-column">
    <header class="border-bottom border-secondary">
        <div class="d-flex flex-row">
            <a class="me-2" [routerLink]="['/menu']">
                <img src="/favicon.webp" alt="home" />
            </a>
            <a class="flex-grow-1" [routerLink]="['/']">
                <h1>Pivoleg Consulting GmbH & Co KG</h1>
            </a>
        </div>
    </header>

    <main class="p-2 flex-grow-1 overflow-y-auto">
        <router-outlet class="d-none"></router-outlet>
    </main>

    <footer [ngClass]="{'footer-rounded-corners': hasRoundedCorners()}">
        <button type="button" class="btn btn-secondary w-100" appBackButton>Zurück</button>
    </footer>
</div>