<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h2>Pivoleg</h2>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="Benutzername" formControlName="username" autocomplete="off">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Passwort" formControlName="password" autocomplete="off">
            <div *ngIf="error" class="form-group">
                <small *ngIf="error" class="form-text text-danger">{{error}}</small>
            </div>
            <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="!loginForm.valid">
        </form>
    </div>
</div>

<div *ngIf="debug" class="debug border border-danger p-2">
    <div class="text-center text-info">debug active</div>
    <textarea>{{debugData}}</textarea>
</div>