<h4 class="text-center"><span class="text-danger">~~~</span> Admin <span class="text-danger">~~~</span></h4>

<div class="menu-wrapper mx-auto" style="max-width: 300px;">
    <a class="btn btn-primary w-100 mb-2" routerLink="/admin/userlist">Benutzerverwaltung</a>
    <a class="btn btn-primary w-100 mb-2" routerLink="/admin/sessions">Sessions</a>
    <a class="btn btn-primary w-100 mb-2" routerLink="/admin/metrics">Metrics</a>
    <a class="btn btn-primary w-100 mb-2" routerLink="/admin/orphans">Orphans</a>
</div>
