<div class="d-flex flex-column h-100">
    <h4 class="text-center"><span class="text-danger">~~~</span> Orphans <span class="text-danger">~~~</span></h4>
    
    <div class="flex-grow-1">
        <div *ngIf="data.locations.length > 0">
            <div class="d-flex flex-row mb-2">
                <div class="d-inline-block fw-medium me-2">Locations</div>
                <p class="flex-grow-1 hr-border"></p>
            </div>
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let l of data.locations">
                        <!-- TODO vertical align location element -->
                        <td><app-location [location]="l" /></td>
                        <td class="text-end">
                            <button class="btn btn-sm border border-danger text-danger" (click)="deleteLocation(l)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div *ngIf="data.bands.length > 0">
            <div class="d-flex flex-row mb-2">
                <div class="d-inline-block fw-medium me-2">Bands</div>
                <p class="flex-grow-1 hr-border"></p>
            </div>
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let b of data.bands">
                        <!-- TODO vertical align band element -->
                        <td><app-band [band]="b" /></td>
                        <td class="text-end">
                            <button class="btn btn-sm border border-danger text-danger" (click)="deleteBand(b)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="data.bands.length === 0 && data.locations.length === 0" class="text-success text-center">No orphaned entities! 👌👌👌</div>
    </div>
</div>
