<h4 class="text-center mb-2">Statistiken</h4>

<div ngbAccordion [closeOthers]="true" class="mb-2">

    <div ngbAccordionItem>
        <div ngbAccordionHeader>
            <button ngbAccordionButton (click)="loadEventsPerYearData()">Veranstaltungen pro Jahr</button>
        </div>
        <div class="collapse-body p-2" ngbAccordionCollapse>
            <canvas baseChart [type]="'line'" [data]="eventsPerYearData" [legend]="false"></canvas>
        </div>
    </div>

    <div ngbAccordionItem>
        <div ngbAccordionHeader>
            <button ngbAccordionButton (click)="loadShowsPerYearData()">Shows pro Jahr</button>
        </div>
        <div class="collapse-body p-2" ngbAccordionCollapse>
            <canvas baseChart [type]="'line'" [data]="showsPerYearData" [legend]="false"></canvas>
        </div>
    </div>

    <div ngbAccordionItem>
        <div ngbAccordionHeader>
            <button ngbAccordionButton (click)="loadEventsPerCategoryData()">Events pro Kategorie</button>
        </div>
        <div class="collapse-body p-2" ngbAccordionCollapse>
            <div class="pie-chart">
                <canvas baseChart [type]="'pie'" [data]="eventsPerCatgoryData"></canvas>
            </div>
        </div>
    </div>

    <div ngbAccordionItem>
        <div ngbAccordionHeader>
            <button ngbAccordionButton (click)="loadTop10BandsData()">Top 10 Bands</button>
        </div>
        <div class="collapse-body p-2" ngbAccordionCollapse>
            <table class="table table-borderless w-auto m-auto">
                <tbody>
                    <tr *ngFor="let b of top10BandsData; index as i">
                        <td>{{i+1}}</td>
                        <td><app-band [band]="b" /></td>
                        <td>{{b.count}} Mal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>